<html>
<head>
		<link rel="stylesheet" href="../includes/stylesheet.css">
</head>
<ul>
  <li><a class="active" href="index_admin.html">Home</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">Menu</a>
    <div class="dropdown-content" id="myDropdown">
      <a href="aanwezigheidsstatistieken_toevoegen.html">Aanwezigheidstabel toevoegen</a>
	  <a href="student_toevoegen.html">Studenten toevoegen</a>
	  <a href="docent_toevoegen.html">Docenten toevoegen</a>
      <a href="wachtwoord_wijzigen_admin.html">Wachtwoord wijzigen</a>
	  <a href="wachtwoord_wijzigen_van_student.html">Wachtwoord wijzigen van student</a>
    </div>
	<li><a class="active" href="admin_home.html">Uitloggen</a></li>
  </li>
</ul>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var d = 0; d < dropdowns.length; d++) {
      var openDropdown = dropdowns[d];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<form method="post">
<div id="container"> 
<div id="lettertype-rest">
<table id="lettertype-rest" align="center">
	<tr>
		<div id="lettertype-kopje"><h2><center>Aanwezigheidstabel toevoegen</h2></center></div>
	</tr>
	<div id="lettertype-rest">
    <tr>
        <td>Vul in titel tabel</td>
        <td><input type="text" name=""></td>
    </tr>

    <tr>
        <td>Vul in vaknaam & datum</td>
        <td><input type="text" name=""></td>
    </tr>

    <tr>
        <td>Kies aantal vakken</td>
        <td><select name="op">
            <option value="+">1x2</option>
            <option value="-">1x4</option>
            <option value="*">1x6</option>
            <option value="/">1x8</option>
        </select></td>
    </tr></div>

    <tr>
        <td></td>
        <td><input type="submit" name="submit" value="                +                "></td>
    </tr>

	</div>
	
	
	
</table>
</form>
<center></center>
</html>
