 <!DOCTYPE html>
<html>
<head>
<title>Admin Login</title>
<link rel="stylesheet" href="../includes/stylesheet.css">

</head>
<body>
<center>
<div id="container"> 
<div id="lettertype-kopje"><h2>Admin Login</h2></div>
<div id="lettertype-rest">

 <form action="index_admin.html" method="post">
  Username:<br>
  <input type="text" name="username" value=""><br>
  Password:<br>
  <input type="password" name="password" value=""><br><br>
  <input type="submit" value="Login">

</form> 
<br>
 <a href="../view/student_home.html">Student Login</a> 
 <br>
 <a href="../view/docent_home.html">Docent Login</a> 
</div>
</div>
</center>
</body>
</html> 