 <!DOCTYPE html>
<html>
<head>
<title>Docent Login</title>
<link rel="stylesheet" href="../includes/stylesheet.css">

</head>
<body>
<center>
<div id="container"> 
<div id="lettertype-kopje"><h2>Docent Login</h2></div>
<div id="lettertype-rest">

 <form action="index_docent.html" method="post">
  Username:<br>
  <input type="text" name="username" value=""><br>
  Password:<br>
  <input type="password" name="password" value=""><br><br>
  <input type="submit" value="Login">

</form> 
<br>
Aanmelden met je Windesheim account:<br>
Studenten: s1234567@student.windesheim.nl<br>
Medewerkers: p1234567@windesheim.nl<br>
<br>
Wachtwoord vergeten? Ga naar https://password.windesheim.nl
<br>
 <a href="../view/student_home.html">Studenten Login</a> <br>
 <a href="../view/admin_home.html">Admin Login</a> 
</div>
</div>
</center>
</body>
</html> 