 <!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" href="../includes/stylesheet.css">

</head>
<body>
<ul>
  <li><a class="active" href="index_docent.html">Home</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">Menu</a>
    <div class="dropdown-content" id="myDropdown">
      <a href="wachtwoord_wijzigen_docent.html">Wachtwoord wijzigen</a>
    </div>
	<li><a class="active" href="docent_home.html">Uitloggen</a></li>
  </li>
</ul>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var d = 0; d < dropdowns.length; d++) {
      var openDropdown = dropdowns[d];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<center>
<div id="container"> 
<div id="lettertype-kopje"><h2>Lescodes</h2></div>
<div id="lettertype-rest">
 
 <table style="width:50%">
  <tr>
    <td>Vaknaam + Klas + Lescode</td>
  </tr>
  <tr>
    <td>Vaknaam + Klas + Lescode</td>
  </tr>
  <tr>
    <td>Vaknaam + Klas + Lescode</td>
  </tr>
  <tr>
    <td>Vaknaam + Klas + Lescode</td>
  </tr>
  <tr>
    <td>Vaknaam + Klas + Lescode</td>
  </tr>
  <tr>
    <td>Vaknaam + Klas + Lescode</td>
  </tr>
  <tr>
    <td>Vaknaam + Klas + Lescode</td>
  </tr>

</table>

		<form action="" method="post">
		<input name="submit" type="submit" value="+" />
		</form>


</div>
</div>
</center>
</body>
</html> 